
@{
    ViewBag.Title = "Vista";
}

<h2>Suma de dos numeros</h2>

<form action="/" method="POST">
    <label for="n1">Número 1:</label>
    <input type="number" name="n1" value="" />
    <br />
    <label for="n1">Número 2:</label>
    <input type="number" name="n2" value="" />
    <br />
    <input type="submit" name="cal" value="calcular"/>
</form>

<h1>La suma es: @ViewBag.Res</h1>